<div class="background">
    <div class="overlay">
        <h1><b>NEST DIGITAL GROUP</b></h1>
        <h4>A Company With A Heart</h4>
    </div>
</div>
<div class="content">
    <p class="discr">Nest Digital Group, one of the India's swiftest expanding business groups, started its voyage in 1998 as the state of Kerala's first data labeling service provider, with only six employees.<br> And now the company has 60+ new entities, which provide services in medical data labeling, software solutions, and AI/ML data collection. Our six-person venture currently employs around 3,000 dedicated folks.<br> Nest Digital Group consistently continues its path of success and strictly adheres to its motto of being <b>"A Company With A Heart"</b>.</p>
</div>



<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <video autoplay muted loop id="bg-video">
            <source src="../../../assets/bgvideo.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
</div>
